.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4C67A4;
  color: white;
  text-align: center;
  height: 80px;
  display: inline;
  padding: 5px;
}


#converted  {
    color: red;
    font-weight: bold;
    font-size:large;
    display: inline-block;
}     /* Calculated values in bold */


body {
    background-color: #5F8BC0;  /* blue */
    font-size:large;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.main {
    text-align: left;
    margin: 50px;
    padding: 20px;
}

.main > input {
    text-align: right;       /* Align text input to rigth  */
    border: none;
    border-radius: 20px 20px 20px 20px;
    padding: 5px  5px;
    font-size:large;
}

.main > h3 {
    font-family: 'Pacifico', cursive;
    color: #B4D9F5;
    font-size: 20px;
}


.divHead{
    background-color: #4C67A4;
}
/*Para todos los hijos de tipo H1 de los div de clase main*/
.divHead > h1{
    display: inline-block;
    background-color: inherit;
    color: #B4D9F5;
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-left: 80px;
    font-size: 72px;
    font-weight: 500;
}

/*Para todos los hijos de tipo img de los div de clase main*/
.divHead > img {
    display: inline-block;
    background-color: inherit;
    text-align: right;
    width: 150px;
    height: 150px;
    float: right;
    padding: 30px;
}

#git {
    display: inline-block;
    background-color: inherit;
    text-align: right;
    width: 150px;
    height: 150px;
    float: right;
    padding: 30px;
    padding-top: 30px;
}
