th, td      {
               vertical-align: top;
               text-align: right;
               font-size:large;
               // border: 1px solid black;
            }     /* Don't center table cells  */
#converted  { color: red; font-weight: bold; font-size:large;          }     /* Calculated values in bold */
input       {
              text-align: right;       /* Align input to the right  */
              border: none;
              border-radius: 20px 20px 20px 20px;
              padding: 5px  5px;
              font-size:large;       }
body
{
 background-color: #5F8BC0;  /* blue */
 font-size:large;
 font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.main{
    background-color: #4C67A4;
}
/*Para todos los hijos de tipo H1 de los div de clase main*/
.main > h1{
    display: inline-block;
    background-color: inherit;
    color: #B4D9F5;
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-left: 80px;
    font-size: 72px;
    font-weight: 500;
}
/*Para todos los hijos de tipo img de los div de clase main*/
.main > img {
    display: inline-block;
    background-color: inherit;
    width: 150px;
    height: 150px;
    float: right;
    padding: 30px 70px;
}
